// Colors

$black: hsl(230, 35%, 7%);
$gray: hsl(231, 77%, 90%);
$white: hsl(0, 0%, 100%);

// Typography
$font-sans: 'Barlow Condensed', sans-serif;
$font-sans2: 'Barlow', sans-serif;
$font-serif: 'Bellefair', serif;

$reg: 400;
$h1: 150px;
$h2: 100px;
$h3: 56px;
$h4: 32px;
$h5: 28px;
$h5-ls: 4.75;
$sh1: 28px;
$sh2: 14px;
$sh2-ls: 2.35;
$text: 16px;
$text-ls: 2.7;

// https://github.com/ashiqfury
