* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: $font-serif;
	overflow-x: hidden;
	@media only screen and (max-width: 768px) {
		overflow: auto;
	}
	@media only screen and (max-width: 375px) {
		width: 100%;
		overflow-x: hidden;
	}

	&.active {
		height: 100vh;
		overflow: hidden;
	}
}

::selection {
	background: $black;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: #333a;
}
::-webkit-scrollbar-thumb {
	width: 5px;
	background: $black;
}
