.navbar {
	width: 100%;
	height: 10vh;
	padding-left: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo {
		width: 50px;
		height: 50px;
		background-image: url(../assets/shared/logo.svg);
		background-size: cover;
	}

	.nav-container {
		width: 60%;
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;

		&::before {
			content: '';
			width: 60%;
			height: 1px;
			background-color: $gray;
			position: absolute;
			right: 95%;
			opacity: 0.2;
			z-index: 10;
		}

		.bg-blur {
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(255, 255, 255, 0.05);
			backdrop-filter: blur(15px);
		}

		.nav-links {
			width: 100%;
			height: 100%;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			position: relative;
			z-index: 10;

			a {
				padding: 3.5vh 0;
				color: $gray;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1rem;
				font-family: $font-sans;
				font-weight: $reg;
				letter-spacing: 2.7px;
				// box-shadow: inset 0 -4px 0 0 transparent;
				transition: 250ms ease-in;

				&:hover {
					box-shadow: inset 0 -4px 0 0 $gray;
					color: $white;
				}
				&.active {
					box-shadow: inset 0 -4px 0 0 $white;
					color: $white;
				}
			}
		}
	}
}
