.navbar {
	width: 100%;
	height: 10vh;
	padding-left: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 50px;

	.logo {
		width: 50px;
		height: 50px;
		background-image: url(../assets/shared/logo.svg);
		background-size: cover;
		position: relative;
		z-index: 10;
		animation: logo 500ms ease-in-out;
		@keyframes logo {
			from {
				transform: scale(0);
				opacity: 0;
			}
			to {
				transform: scale(1);
				opacity: 1;
			}
		}
	}

	.nav-container {
		width: 60%;
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
		animation: navbar 500ms ease-in;
		@keyframes navbar {
			from {
				right: -100%;
				opacity: 0;
			}
			to {
				right: 0;
				opacity: 1;
			}
		}

		&::before {
			content: '';
			width: 60%;
			height: 1px;
			background-color: $gray;
			position: absolute;
			right: 95%;
			opacity: 0.2;
			z-index: 10;
			animation: navbar-before 1000ms ease-in-out;
			@keyframes navbar-before {
				0% {
					width: 0;
					opacity: 0;
				}
				50% {
					opacity: 1;
				}
				100% {
					width: 60%;
					opacity: 0.2;
				}
			}
		}

		.bg-blur {
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(255, 255, 255, 0.05);
			backdrop-filter: blur(15px);
			animation: bg-blur 1000ms ease-in;
			@keyframes bg-blur {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}
		}

		.nav-links {
			width: 100%;
			height: 100%;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			position: relative;
			z-index: 10;

			a,
			span {
				padding: 3.5vh 0;
				color: $gray;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1rem;
				font-family: $font-sans;
				font-weight: $reg;
				letter-spacing: 2.7px;
				// box-shadow: inset 0 -4px 0 0 transparent;
				transition: 250ms ease-in;
				cursor: pointer;

				&:hover {
					box-shadow: inset 0 -4px 0 0 $gray;
					color: $white;
				}
				&.active {
					box-shadow: inset 0 -4px 0 0 $white;
					color: $white;
				}
			}
		}
	}
}
