.navbar {
	width: 100%;
	height: 10vh;
	padding-left: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 50px;
	@media only screen and (max-width: 768px) {
		top: 0;
	}
	@media only screen and (max-width: 375px) {
		padding: 0 5%;
	}
	.logo {
		$size: 50px;
		width: $size;
		height: $size;
		background-image: url(../assets/shared/logo.svg);
		background-size: cover;
		position: relative;
		z-index: 10;
		animation: logo 500ms ease-in-out;
		@media only screen and (max-width: 375px) {
			$size: 40px;
			width: $size;
			height: $size;
		}
		@keyframes logo {
			from {
				transform: scale(0);
				opacity: 0;
			}
			to {
				transform: scale(1);
				opacity: 1;
			}
		}
	}

	.nav-container {
		width: 60%;
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
		animation: navbar 500ms ease-in;
		@media only screen and (max-width: 768px) and (min-width: 375px) {
			width: 80%;
		}
		@media only screen and (max-width: 375px) {
			position: fixed;
			top: 0;
			right: -75%;
			bottom: 0;
			width: 75%;
			height: 100vh;
			z-index: 15;
			align-items: flex-start;
			padding-left: 10%;
			transition: 500ms ease-in-out;
			animation: none;
		}
		@keyframes navbar {
			from {
				right: -100%;
				opacity: 0;
			}
			to {
				right: 0;
				opacity: 1;
			}
		}

		&::before {
			$width: 60%;
			content: '';
			width: $width;
			height: 1px;
			background-color: $gray;
			position: absolute;
			right: 95%;
			opacity: 0.2;
			z-index: 10;
			animation: navbar-before 1000ms ease-in-out;
			@media only screen and (max-width: 768px) {
				display: none;
			}
			@keyframes navbar-before {
				0% {
					width: 0;
					opacity: 0;
				}
				50% {
					opacity: 1;
				}
				100% {
					width: $width;
					opacity: 0.2;
				}
			}
		}

		.bg-blur {
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(255, 255, 255, 0.05);
			backdrop-filter: blur(15px);
			animation: bg-blur 1000ms ease-in;
			@media only screen and (max-width: 375px) {
				width: 100%;
				height: 100vh;
				overflow: hidden;
				z-index: 16;
				backdrop-filter: blur(20px);
				box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3), -10px 0 40px rgba(0, 0, 0, 0.3);
			}
			@keyframes bg-blur {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}
		}

		.nav-links {
			width: 100%;
			height: 100%;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			position: relative;
			z-index: 10;
			@media only screen and (max-width: 375px) {
				height: 30%;
				align-items: flex-start;
				flex-direction: column;
				z-index: 20;
				margin-top: 30%;
			}

			a,
			span {
				padding: 3.5vh 0;
				color: $gray;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1rem;
				font-family: $font-sans;
				font-weight: $reg;
				letter-spacing: 2.7px;
				// box-shadow: inset 0 -4px 0 0 transparent;
				transition: 250ms ease-in;
				cursor: pointer;
				@media only screen and (max-width: 768px) {
					font-size: 2vw;
					letter-spacing: 0.3vw;
					font-weight: 300;
				}
				@media only screen and (max-width: 375px) {
					padding: 0;
					position: relative;
					z-index: 30;
					font-size: 1.2rem;
					font-weight: 400;
					margin-top: 10px;
					text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
				}

				&:hover {
					box-shadow: inset 0 -4px 0 0 $gray;
					color: $white;
					@media only screen and (max-width: 768px) {
						box-shadow: inset 0 -0.5vw 0 0 $gray;
					}
					@media only screen and (max-width: 375px) {
						box-shadow: none;
						font-weight: 500;
						margin-left: 10px;
					}
				}
				&.active {
					box-shadow: inset 0 -4px 0 0 $white;
					color: $white;
					@media only screen and (max-width: 768px) {
						box-shadow: inset 0 -0.5vw 0 0 $gray;
					}
					@media only screen and (max-width: 375px) {
						box-shadow: none;
					}
				}
			}
		}
	}
}

.mobile {
	display: none;
	@media only screen and (max-width: 375px) {
		display: block;
	}
}

.hamburger {
	width: 30px;
	height: 25px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 30;
	transition: 250ms ease-in-out;

	&.active .stick1 {
		top: 50%;
		transform: translateY(-50%) rotate(405deg);
	}
	&.active .stick2 {
		transform: translateX(100%);
		opacity: 0;
	}
	&.active .stick3 {
		bottom: 50%;
		transform: translateY(50%) rotate(-405deg);
	}

	.stick {
		width: 100%;
		height: 3px;
		position: absolute;
		background: $white;
		border-radius: 4px;
	}
	.stick1 {
		top: 0;
		transition: 500ms ease-in-out 250ms;
	}
	.stick2 {
		top: 50%;
		transform: translateY(-50%);
		transition: 250ms ease-in-out;
	}
	.stick3 {
		bottom: 0;
		transition: 500ms ease-in-out 250ms;
	}
}

.hamburger.active + .nav-container {
	right: 0;
}
