.technology {
	width: 100%;
	height: 100vh;
	background: url('../assets/technology/background-technology-desktop.jpg');
	background-size: cover;
	padding-top: 50px;

	.tech-wrapper {
		width: 90%;
		margin: 50px 0 0 10%;
		position: relative;
		z-index: 10;
	}

	h5 {
		color: $white;
		font-size: 28px;
		letter-spacing: 4.72px;
		text-transform: uppercase;
		font-family: $font-sans;
		font-weight: 200;

		span {
			font-weight: 700;
			color: #666;
			margin-right: 10px;
		}
	}
}

.tech-container {
	display: flex;
	margin-top: 50px;

	.tech-text-wrapper {
		flex: 5.5;
		display: flex;
		height: 70%;
		padding-top: 5%;

		.tech-links {
			width: 50px;
			margin-right: 10%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			.tech-link {
				width: 70px;
				height: 70px;
				border-radius: 50%;
				border: 1px solid $gray;
				font-size: 2rem;
				color: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: 250ms ease-in;

				&:hover {
					border: 2px solid $white;
				}
				&.active {
					background: $white;
					color: $black;
				}
			}
		}

		.tech-texts {
			width: 100%;
			transition: 250ms;

			h5 {
				font-size: 1rem;
				letter-spacing: 2.7px;
				color: $gray;
				text-transform: uppercase;
			}
			h2 {
				font-size: 56px;
				color: $white;
				text-transform: uppercase;
				font-weight: 300;
				margin: 20px 0 30px;
			}
			p {
				font-size: 18px;
				width: 70%;
				color: $gray;
				line-height: 2rem;
				font-family: $font-sans2;
				font-weight: 300;
			}
		}
	}
	.tech-img-wrapper {
		flex: 4.5;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;

		img {
			width: 80%;
			height: auto;
			position: relative;
			right: 0;
			// animation: image 500ms ease-in;
		}
	}
}

// @keyframes image {
// 	from {
// 		right: -100%;
// 		width: 0;
// 	}
// 	to {
// 		right: 0;
// 		width: 80%;
// 	}
// }
