.technology {
	width: 100%;
	min-height: 100vh;
	background: url('../assets/technology/background-technology-desktop.jpg');
	background-size: cover;
	padding-top: 20vh;
	@media only screen and (max-width: 768px) {
		height: auto;
		background: url('../assets/technology/background-technology-tablet.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
	@media only screen and (max-width: 375px) {
		height: auto;
		background: url('../assets/technology/background-technology-mobile.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 15vh 0 10vh;
	}

	.tech-wrapper {
		width: 90%;
		margin: 50px 0 0 10%;
		position: relative;
		z-index: 10;
		@media only screen and (max-width: 768px) {
			width: 100%;
			margin: 1vw auto 0;
		}
	}

	.tech-header-text {
		color: $white;
		font-size: 28px;
		letter-spacing: 4.72px;
		text-transform: uppercase;
		font-family: $font-sans;
		font-weight: 200;
		@media only screen and (max-width: 768px) {
			padding-left: 5vw;
			font-size: 4vw;
			letter-spacing: 0.7vw;
		}
		@media only screen and (max-width: 375px) {
			text-align: center;
			font-size: 5vw;
			font-weight: 400;
			padding: 0;
		}

		span {
			font-weight: 700;
			color: #666;
			margin-right: 10px;
			@media only screen and (max-width: 768px) {
				margin-right: 2vw;
			}
		}
	}
}

.tech-container {
	display: flex;
	margin-top: 50px;
	@media only screen and (max-width: 768px) {
		flex-direction: column;
		margin-top: 5vw;
		text-align: center;
	}

	.tech-text-wrapper {
		flex: 5.5;
		display: flex;
		height: 70%;
		padding-top: 5%;
		@media only screen and (max-width: 768px) {
			order: 2;
			flex-direction: column;
		}

		.tech-links {
			width: 50px;
			margin-right: 10%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			@media only screen and (max-width: 768px) {
				flex-direction: row;
				width: 30%;
				margin: 5vw auto;
				justify-content: space-around;
			}
			@media only screen and (max-width: 375px) {
				width: 50%;
				margin-bottom: 3vh;
			}

			.tech-link {
				$size: 70px;
				width: $size;
				height: $size;
				border-radius: 50%;
				border: 1px solid $gray;
				font-size: 2rem;
				color: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				list-style: none;
				transition: 250ms ease-in;
				@media only screen and (max-width: 768px) {
					$size: 7vw;
					width: $size;
					height: $size;
					font-size: 3vw;
				}
				@media only screen and (max-width: 375px) {
					$size: 11vw;
					width: $size;
					height: $size;
					font-size: 5vw;
				}

				&:hover {
					border: 2px solid $white;
				}
				&.active {
					background: $white;
					color: $black;
				}
			}
		}

		.tech-texts {
			width: 100%;
			transition: 250ms;

			.tech-subheading {
				font-size: 1rem;
				letter-spacing: 2.7px;
				color: $gray;
				text-transform: uppercase;
				font-weight: 300;
				@media only screen and (max-width: 768px) {
					font-size: 2vw;
					letter-spacing: 0.3vw;
				}
				@media only screen and (max-width: 375px) {
					font-size: 4vw;
					letter-spacing: 0.5vw;
				}
			}
			.tech-heading {
				font-size: 56px;
				color: $white;
				text-transform: uppercase;
				font-weight: 300;
				margin: 20px 0 30px;
				@media only screen and (max-width: 768px) {
					font-size: 6vw;
					margin: 2vw 0 3vw;
				}
				@media only screen and (max-width: 375px) {
					font-size: 8vw;
					margin: 3vw 0 4vw;
				}
			}
			.tech-description {
				font-size: 18px;
				width: 70%;
				color: $gray;
				line-height: 2rem;
				font-family: $font-sans2;
				font-weight: 300;
				@media only screen and (max-width: 768px) {
					text-align: center;
					margin: 0 auto 10vw;
					font-size: 2.5vw;
					line-height: 4vw;
				}
				@media only screen and (max-width: 375px) {
					margin: 0 auto;
					width: 85%;
					font-size: 4.2vw;
					line-height: 7vw;
				}
			}
		}
	}
	.tech-img-wrapper {
		flex: 4.5;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		@media only screen and (max-width: 768px) {
			width: 100%;
			height: auto;
			order: 1;
			position: static;
		}

		img {
			width: 78%;
			height: auto;
			position: relative;
			right: 0;
			top: -10%;
			@media only screen and (max-width: 768px) {
				position: static;
				object-fit: cover;
				width: 100%;
				aspect-ratio: 16/8;
			}
		}
	}
}

// https://github.com/ashiqfury
